header {
width: 100%;
top: 0;
height: 60px;
background: #ffffff;
border-bottom: solid 3px #7500ac;
z-index: 1000;
    .brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
        img {
        min-width: 70%;
        max-width: 75%;
        }
        .fa-bars {
        color: #7500ac;
        }
    }
    .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgb(163, 12, 233)0%, rgb(74, 0, 109)100%);
    overflow-y: hidden;
    transition: 0.5s;
        a {
        padding: 5px;
        text-decoration: none;
        font-size: 1.4rem;
        color: #ffffff;
        display: block;
        transition: 0.3s;
        }
        .closebtn {
        position: absolute;
        right: 40px;
        font-size: 35px;
        }
        .overlay-content {
        position: relative;
        top: 23%;
        width: 100%;
        text-align: center;
            .activo {
            color: #ff0055;
            }   
        }
    }
}
.overlay a:hover, .overlay a:focus {
color: #ff0055;
} 


@media screen and (min-width: 400px) {
    header {
        .brand {
        padding-top: 5px;
        }
    }
}

@media screen and (min-width: 440px) {
    header {
        .brand {
         padding-top: 3px;
        }
    }
}

@media screen and (min-width: 480px) {
    header {
        .brand {
            img {
            max-width: 70%;
            }
        }
    }
}

@media screen and (min-width: 520px) {
    header {
        .brand {
            img {
            max-width: 65%;
            min-width: 0;
            }
        }
    }
}

@media screen and (min-width: 560px) {
    header {
        .brand {
            img {
            max-width: 60%;
            min-width: 0;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    header {
        .brand {
            img {
            max-width: 55%;
            min-width: 0;
            }
        }
    }
}

@media screen and (min-width: 692px) {
    header {
        .brand {
        padding: 1px;
            img {
            max-width: 50%;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        .brand {
        padding-top: 1px;
            img {
            width: 45%;
            }
        }
    }
}

@media screen and (min-width: 860px) {
    header {
        .brand {
        padding-top: 1px;
            img {
            max-width: 40%;
            }
        }
    }
}

@media screen and (min-width: 960px) {
    header {
        .brand {
        padding-top: 1px;
            img {
            max-width: 35%;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    header {
        .brand {
        padding-top: 1px;
            img {
            max-width: 35%;
            }
        }
    }
}

@media screen and (min-width: 1100px) {
    header {
        .brand {
        padding-top: 7px;
            img {
            max-width: 25%;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    header {
        .brand {
        padding-top: 1px;
            img {
            max-width: 25%;
            }
        }
    }
}


