<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://reikiclaudiacimadoro.com.ar/">
        <meta property="og:title" content="Reiki Claudia Cimadoro - Inicio">
        <meta property="og:description" content="Escuela de Reiki. Distintas técnicas para encontrar el equilibrio físico, mental y emocional en tu vida. Talleres que te ayudarán en tu crecimiento personal y espiritual.">
        <meta property="og:image" content="">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://reikiclaudiacimadoro.com.ar/">
        <meta property="twitter:title" content="Reiki Claudia Cimadoro - Inicio">
        <meta property="twitter:description" content="Escuela de Reiki. Distintas técnicas para encontrar el equilibrio físico, mental y emocional en tu vida. Talleres que te ayudarán en tu crecimiento personal y espiritual.">
        <meta property="twitter:image" content="">
        <!-- FONT QUICKSAND/PHILOSOPHER - GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400&family=Philosopher:wght@700&display=swap" rel="stylesheet"> 
        <!-- FONT AWESOME -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <!-- BOOTSTRAP MENU -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!-- FAVICON -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="manifest" href="../favicon/site.webmanifest">
        <!-- CUSTOM STYLES -->
        <link rel="stylesheet" href="../css/styles.css">
        <title>Reiki Claudia Cimadoro - Prácticas y Sesiones</title>
    </head>

    <body>
        <header class="fixed-top">
            <div class="contenedor">
                <div class="brand">
                    <img src="../img/Logo.png" alt="logo">
                    <div class="alianza">
                        <img src="../img/ALIANZAWEB.png" alt="alianza">
                    </div>
                    <i class="fas fa-bars" style="font-size:30px;cursor:pointer" onclick="openNav()"></i>
                </div>
                <nav id="myNav" class="overlay">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-times"></i></a>
                    <div class="overlay-content">
                        <a href="../index.html">Inicio</a>
                        <a href="../views/sobre-mi.html">Sobre mí</a>
                        <a href="../views/cursos.html">Cursos</a>
                        <a href="../views/talleres.html">Talleres</a>
                        <a href="../views/practicas-sesiones.html" class="activo">Prácticas y Sesiones</a>
                        <a href="../views/actividades-complementarias.html">Actividades complementarias</a>
                        <a href="../views/contacto.html">Contacto</a>
                    </div>
                </nav>
            </div>
        </header>

        <section class="banner__practicas">
            <div class="texto__practicas">  
                <h2 class="contenedor">Prácticas y Sesiones</h2>
            </div>
        </section>
        <section class="info__practicas">
            <div class="contenedor">
                <p>Porque estamos comprometidos como maestros queremos que nuestros alumnos experimenten y alimenten su confianza en el Reiki para así sanarse y sanar a otros, por eso lo importante que son las prácticas e intercambios de Reiki.</p>
                <br><p>Es necesarrio mantener el contacto con nuestros pares, maestros, intercambiar experiencias, enseñanzas, sensaciones, prácticas, meditaciones y también nosotros, los reikistas, necesitamos recibir energía a través del Reiki.</p>
                <br><p>Las prácticas son abiertas a alumnos de todas las escuelas.</p>
                <br><p><strong>Prácticas con contribución voluntaria</strong></p>
            </div> 
        </section>    
                
        <section class="banner6">
            <div class="texto">  
                <h2 class="contenedor">Redes Sociales</h2>
            </div>
        </section>
        <section class="info1">
            <a href="https://facebook.com/Alianza-Argentina-de-Maestros-de-Reiki-La-Pampa-1606319326308309/" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/lapampa_escueladereikiarg/">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://wa.me/+5491164035430?text=Me%20gustaría%20recibir%20más%20información" target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a>
            <a href="mailto:clauc66@hotmail.com">
                <i class="far fa-envelope"></i>
            </a>
        </section>
        
        <section class="footer-links">
            <form class="formulario">
              <div> 
                <h3>Para más información:</h3>
              </div>
              <input type="text" class="formulario__input" placeholder="Nombre" required>
              <input type="text" class="formulario__input" placeholder="Apellido" required>  
              <input type="text" class="formulario__input" placeholder="E-mail" required>    
              <input type="text" class="formulario__input" placeholder="Asunto" required>
              <select name="Sede" id="sede" class="formulario__input" placeholder="Sede" required>
                <option value="La Pampa">Sede La Pampa</option>
                <option value="Buenos Aires"> Sede Buenos Aires</option>
              </select>
              <textarea name="mensaje" class="formulario__area" placeholder="Dejame tu consulta" required></textarea>
              <input type="submit" value="Enviar mensaje" class="formulario__submit">
            </form>
        </section>
    
        <i class="fas fa-chevron-circle-up" onclick="topFunction()" id="myBtn" title="Volver al inicio"></i>
        
        <footer class="footer contenedor">
            <p>Todos los derechos reservados &copy; - Reiki Claudia Cimadoro - Miembro Profesional de la Alianza Argentina de Maestros de Reiki</p><img src="../img/ALIANZAWEB.png" alt="Alianza">
        </footer>
  
        <script src="../js/menu.js"></script>
        <script src="../js/btn-inicio.js"></script>
    
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>